# Django
DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=your-super-secret-key-change-me
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# MySQL Database
DB_NAME=hld_project_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306

# Redis
REDIS_URL=redis://127.0.0.1:6379/0

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
